.a-enter-vr-button {
  display: none
}

/*.a-enter-ar-button {
  background: url('./assets/images/Calibration UI 0.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 150px;
}*/